.slider .lightSlider > .slider__item,
.slider .lightSlider > li {
	width: 100%;
	list-style: none;
}

.slider__item > a {
	display: block;
	color: inherit;
	text-decoration: none;
}

.slider .lSSlideOuter .lSAction > .lSPrev {
	left: max(10px, calc((100% - 1200px) / 2 + 10px));
}

.slider .lSSlideOuter .lSAction > .lSNext {
	right: max(10px, calc((100% - 1200px) / 2 + 10px));
}
