.slider .lightSlider > .slider__item,
.slider .lightSlider > li {
	width: 100%;
	list-style: none;
}

.slider__item > a {
	display: block;
	color: inherit;
	text-decoration: none;
}

.slider .lSSlideOuter .lSAction > .lSPrev {
	left: max(10px, calc((100% - 1200px) / 2 - 42px));
}

.slider .lSSlideOuter .lSAction > .lSNext {
	right: max(10px, calc((100% - 1200px) / 2 - 42px));
}

.slider__item .container {
	padding-left: 60px;
	padding-right: 60px;
}

.slider__item--no-title
{
    background-position: 40% center;
}
.slider__item--no-title .slider__title
{
    display: none;
    min-height: 0;
}
